.header {
    display: flex;
    flex-direction: row;
    padding: 3% 5% 0 5%;
    justify-content: space-between;
}

.titleblock {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.headerTitle {
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: var(--header-font-size);
}

.onlyLogo {
    display: none;
}

.onlineStatus {
    background-color: #AEFFFF;
    display: flex;
    flex-direction: row;
    padding: 6px 14px;
    width: 130px;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    border-radius: 180px;
}

.onlineStatusImage {
    width: 10px;
    height: 10px;
}

.onlineStatusValue {
    line-height: 18px;
    color: #2F80ED;
}

.socialIcons {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

@media screen and (max-width: 700px) {
    .header {
        padding: var(--mb-2) var(--mb-4) 0 var(--mb-4);
    }
    .onlineStatus {
        display: none;
    }
    .onlyLogo {
        display: block;
        height: 12px;
        width: 12px;
    }
    .titleblock {
        gap: 8px;
    }
    .socialIcons {
        display: none;
    }
}